  <!doctype html>
  <html>
  <head>
      <title>EduMonk</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <style>
          body{
              padding-top:0px; word-wrap:break-word;
              overflow-x: hidden;
          }
          .btn-circle {
              border-radius:50%;
              width:90px;
              height:90px;
              font-size:14px;}
          .well{height:200px;}
      </style>
  </head>
  <body>

  <!--hidden from the end user-->
  <div>
      <span style="display:none"  id="googleId"><%= user.google.id %></span>
      <span style="display:none"  id="facebookId"><%= user.facebook.id %></span>
  </div>


    <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EduMonk</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="#">Home</a></li>
      <li class="active"><a href="#">Profile</a></li>
      <li><a href="#" class="fa fa-cog"> Settings</a></li>
      <li><a  href="/auth/logout" class="  fa fa-user"> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="row">
<div class="col-lg-3 col-lg-offset-0">
<div>
    <img id="profileImage" src="" height="200" width="200">
</div>
</div>
<div class="col-lg-offset-0 col-lg-4">
  <% if(user.google.token) { %>
<h3><%=  user.google.name %></h3>
<h3><%=  user.google.email %></h3>
<% }else if(user.facebook.token){ %>
<h3><%= user.facebook.name %> </h3>
<h3><%=  user.facebook.email %></h3>
<% } %>
</div>


</div>
<form action="profile" method="post"><input type="text" name="check">
<input type="submit"></form>

<div class="container">


<br><br><br>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>SignUp Email</strong>: <%= user.local.email %><br>
                    </p>

                    <a href="/auth/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <% if (user.facebook.token) { %>
                    <p>

                        <strong>Facebook Id</strong>: <%= user.facebook.id %><br>
                        <strong>Facebook Email</strong>: <%= user.facebook.email %><br>
                        <strong>Facebook Name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/auth/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/auth/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>



        <div class="col-sm-4">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>Google Id</strong>: <%= user.google.id %><br>
                        <strong>Google Email</strong>: <%= user.google.email %><br>
                        <strong>Google Name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/auth/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/auth/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

<button onclick="showAddBlog()" class="btn-circle btn btn-primary fa fa-plus fa-2x">Add a blog</button>


<div class="row">
<div class="col-lg-offset-2 col-lg-8">
    <form id="myForm" action="profile" method="post" style="display:none">
        <div class="form-group">
            <label>Blog Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="form-group">
            <label>Blog</label>
            <input type="text" class="form-control" name="content">
        </div>
      <button class="btn btn-danger" onclick="showAddBlog()">Cancel</button>
    <button type="submit" class="btn btn-success">Post</button>
    </form>
  </div>
</div>



    <h3>Blog List</h3>
    <% for(var i=0 ; i<user.data.blogs.length; i++){ %>
      <div >
        <h1><%= user.data.blogs[i].title %> <button style="float:right" class="btn btn-danger">Delete</button></h1>
        <h3>Description : <%= user.data.blogs[i].description %><//h3>
        <p><%= user.data.blogs[i].content %></p>
        </div>
      <% } %>




  </div>
  </body>

  <script>
      var userGoogleId=$("#googleId").html();
      var userFacebookId=$("#facebookId").html();
      console.log(userGoogleId);
      console.log(userFacebookId);
        var showme=false;
   var showAddBlog=function(){
    if(!showme){
      document.getElementById("myForm").style.display="block";
      showme=!showme;
    }
    else{
      document.getElementById("myForm").style.display="none";
      showme=!showme;
    }

  }

  var imageSource='testcontent';
      if(userGoogleId)
      {$.getJSON('https://www.googleapis.com/plus/v1/people/'+userGoogleId+'?fields=image&key=AIzaSyBh-gi9cHRZFiuggtSprJJLeXTu8ePk0FI', function(data) {
          imageSource=data.image.url;
          console.log(imageSource)
          $("#profileImage").attr('src',imageSource);
      });}
      else if(userFacebookId){
          $("#profileImage").attr('src','http://graph.facebook.com/'+userFacebookId+'/picture?type=large');
      }







  </script>
  </html>
