<!doctype html>
<html>
<head>
    <title>EduMonk</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://edumonk.herokuapp.com/board-univ.js"></script>
    <script src="http://edumonk.herokuapp.com/state.js"></script>
    <script src="http://edumonk.herokuapp.com/course.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        body{overflow-x: hidden;}
     .well{width:340px;}
        .btn-icon{ height:30px;
             width:30px;
             border-radius:50%;}
     .btn-circle {
         border-radius:50%;
         width:90px;
         height:90px;
         font-size:14px;}
        table{
            background-color:rgba(0,0,0,0.1);
            border:1px solid grey;
            border-radius:10px;

        }
        td{
            border:0.5px solid grey;
            width:600px;
            padding:20px;
            font-size:20px;
        }
        .section{
            width:200px;
        }
    </style>
</head>
<body>

<!--hidden from the end user-->
<div>
    <span style="display:none"  id="googleId"><%= user.google.id %></span>
    <span style="display:none"  id="facebookId"><%= user.facebook.id %></span>
    <span style="display:none" id="userPersonalPresent"><%= user.data.info.name %></span>
    <span style="display:none" ><%= user.data.info.name%></span>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EduMonk</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/profile"><img id="profileIcon"  src=""  height="35px" width="35px" class="btn-icon">&nbsp;<%= user.data.info.name || "Profile"%></a></li>
            <li ><a href="#">Scholarships</a></li>
            <li><a href="/profile/settings" class="fa fa-cog"> Settings</a></li>
            <li><a  href="/auth/logout" class="  fa fa-user"> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class=" col-lg-3 col-lg-offset-1">
        <h2>Accounts</h2>
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <% if (user.local.email) { %>
            <p>
            <p>
                <strong>SignUp Email</strong>: <%= user.local.email %><br>
            </p>

            <a href="/auth/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

        </div>
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

            <% if (user.facebook.token) { %>
            <p>

                <strong>Facebook Id</strong>: <%= user.facebook.id %><br>
                <strong>Facebook Email</strong>: <%= user.facebook.email %><br>
                <strong>Facebook Name</strong>: <%= user.facebook.name %><br>
            </p>

            <a href="/auth/unlink/facebook" class="btn btn-primary">Unlink</a>
            <% } else { %>
            <a href="/auth/connect/facebook" class="btn btn-primary">Connect Facebook</a>
            <% } %>

        </div>
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

            <% if (user.google.token) { %>
            <p>
                <strong>Google Id</strong>: <%= user.google.id %><br>
                <strong>Google Email</strong>: <%= user.google.email %><br>
                <strong>Google Name</strong>: <%= user.google.name %>
            </p>

            <a href="/auth/unlink/google" class="btn btn-danger">Unlink</a>
            <% } else { %>
            <a href="/auth/connect/google" class="btn btn-danger">Connect Google</a>
            <% } %>

        </div>
    </div>
    <div class="col-sm-8">

        <div id="pInfoExist">

            <h2>Personal Information</h2>
            <table>
                <tr>
                    <td class="section">Name</td>
                    <td><%= user.data.info.name  %></td>
                </tr>
                <tr>
                    <td class="section">Guardian</td>
                    <td><%= user.data.info.guardian %></td>
                </tr>
                <tr>
                    <td class="section">Date Of Birth</td>
                    <td><%= user.data.info.DOB %></h3></td>
                </tr>
                <tr>
                    <td class="section">Email</td>
                    <td><%= user.local.email || user.data.info.email || user.data.google.email || user.data.facebook.email %></td>
                </tr>
                <tr>
                    <td class="section">Location</td>
                    <td><%= user.data.info.state %></td>
                </tr>
            </table>

        </div>
        <br>
        <div id="pInfoNotExist">
            <h2>It Seems a bit empty here !</h2>
            <a class="btn btn-primary" href="profile">Complete your profile first </a>
        </div>
    </div >
</div><br><br>

    <div id="academicInfo" style="padding:15px;">
            <h3 class="text-center">Academic Qualifications<button class="btn btn-primary" id="addEducation" style="padding:10px;font-size:18px">Add Academic Qualifications</button></h3>
       <div class="row">
           <% for(i=0;i<=user.data.pInfo.education.educationQualification.length-1;i++){ %>
           <div class="col-lg-4">
               <div style="padding:18px;margin-top:10px;background-color:rgba(0,0,0,0.8);color:white">
            <h3>Qualification:  <%= user.data.pInfo.education.educationQualification[i].qualification %> <%= user.data.pInfo.education.educationQualification[i].completion %></h3>
            <h4>Course:  <%= user.data.pInfo.education.educationQualification[i].course %></h4>
            <h4>Board/University:  <%= user.data.pInfo.education.educationQualification[i].board_univ %></h4>
            <h4>State:  <%= user.data.pInfo.education.educationQualification[i].state%></h4>
               </div>
         </div>
           <% } %>
       </div>
    </div>



<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div id="professionalInfoForm" style="border:0.5px solid green;padding:15px;display:none">
            <h2>Add Education </h2>
            <form   name="qualificationForm" action="settings" method="post" onsubmit="return validationQualificationForm()">
                <select class="form-control" name="qualificationInfo">
                    <option selected="true" disabled="disabled"> Qualification</option>
                    <option value="eigth">High School</option>
                    <option value="tenth">Secondary Education 10th </option>
                    <option value="twelfth">Senior Secondary Education 12th</option>
                    <option value="ug">UnderGraduate</option>
                    <option value="pg">Postgraduate</option>
                </select><span id="qualificationInfoError"></span><br>
                <select class="form-control" name="boardUniv" id="boardUniv">
                    <option disabled="disabled" selected="true">Select Board/University</option>
                </select><span id="boardUnivError"></span><br>
                <select class="form-control" name="course" id="academicCourse">
                    <option disabled="disabled" selected="true">Select Course</option>
                    <option value="secondary">Secondary</option>
                    <option value="senior secondary">Senior Secondary</option>
                </select><span id="courseError"></span><br>
                <input  class="form-control" name="schoolCollegeName" type="text"  placeholder="School/College Name"><span id="schoolCollegeNameError"></span><br>
                <select class="form-control" name="academicState" id="academicState">
                    <option selected="true" disabled="disabled" >Select State</option>
                </select><span id="academicStateError"></span><br>
                <select class="form-control" name="completion" id="completionDate"  placeholder=""Completion Year>
                    <option selected="true" disabled="disabled">Year</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                </select><span id="completionError"></span><br>
                <input  class="form-control" name="marks_cgpa" placeholder="Percentage or CGPA"><span id="marks_cgpaError"></span><br>
                <!--<span>Add Educational Qualification </span><button type="button" class="fa fa-plus btn btn-primary btn-circle" onclick="addAcademic()"></button>-->
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
    </div>
</div>





</body>
<script>
    var userGoogleId=$("#googleId").html();
    var userFacebookId=$("#facebookId").html();
    var personalInfoExisting=$("#personalInfoExisting").html();
    var userPersonalPresent=$("#userPersonalPresent").html();
    if(userPersonalPresent==''){
        $('#pInfoExist').css("display","none");
        $('#pInfoNotExist').css("display","block");
    }
    else if(!(userPersonalPresent=='')){
        $('#pInfoNotExist').css("display","none");
        $('#pInfoExist').css('display',"block");
    }

    var academicState=document.getElementById("academicState");
    addState(academicState);
    var academicCourse=document.getElementById("academicCourse");
    addCourse(academicCourse);

    var boardUniv=document.getElementById("boardUniv");
    addOptionBoardUniv(boardUniv);

    var showForm=false;
$("#addEducation").click(function() {
    if(!showForm){$("#professionalInfoForm").css("display", "block");
    showForm=true;}
    else if(showForm){$("#professionalInfoForm").css("display", "none");
    showForm=false;}
});
var validationQualificationForm=function(){
    console.log('called');
    if(document.forms["qualificationForm"]["qualificationInfo"].value=='')
    {doument.getElementById("qualificationInfoError").innerHTML='*Required';
     return false;
    }
    if(document.forms["qualificationForm"]["boardUniv"].value=='')
    {doument.getElementById("boardUnivError").innerHTML='*Required';
        return false;
    }
    if(document.forms["qualificationForm"]["course"].value=='')
    {doument.getElementById("courseError").innerHTML='*Required';
        return false;
    }
    if(document.forms["qualificationForm"]["schoolCollegeName"].value=='')
    {doument.getElementById("schoolCollegeNameError").innerHTML='*Required';
        return false;
    }
    if(document.forms["qualificationForm"]["completion"].value=='')
    {doument.getElementById("completionError").innerHTML='*Required';
        return false;
    }
    if(document.forms["qualificationForm"]["marks_cgpa"].value=='')
    {doument.getElementById("marks_cgpaError").innerHTML='*Required';
        return false;
    }
    return true;
};


    var imageSource;
    if(userFacebookId){
        $("#profileImage").attr('src','http://graph.facebook.com/'+userFacebookId+'/picture?type=large');
        $("#profileIcon").attr('src','http://graph.facebook.com/'+userFacebookId+'/picture?type=large');
    }
    else if(userGoogleId)
    {$.getJSON('https://www.googleapis.com/plus/v1/people/'+userGoogleId+'?fields=image&key=AIzaSyBh-gi9cHRZFiuggtSprJJLeXTu8ePk0FI', function(data) {
        imageSource=data.image.url;
        console.log(imageSource.length)
        $("#profileImage").attr('src',imageSource);
        $("#profileIcon").attr('src',imageSource);
    });}
    else{
        $("#profileImage").attr('src','http://edumonk.herokuapp.com/default-profile.jpg');
        $("#profileIcon").attr('src','http://edumonk.herokuapp.com/default-profile.jpg');
    }
    </script>

</html>
